language: python

python:
    - '3.6'
    - '3.7'
    - '3.8'

install:
    - pip3 install -e ."[dev]"

script:
    - shellcheck legacy/github-archive.sh
    - flake8 github_archive/*.py
    - flake8 test/*.py
    - pytest --cov=github_archive

deploy:
    provider: pypi
    username: "__token__"
    password:
        secure: PeXZgRn9NaV0/a5Z/Q6hekv8SiRpQSh1kYrKamYVFLqUQWbou1LBV1tpOM5RRUrMOqiZSouHWkHAmoDFLuI4Sdb9ejnA9zkVWN/gw3CyjUgXzzb8cRS1IJjL+K0krYU8HHFq61guAMnYKiEJJVQn7kHfCS6BNYiPzDyO0SDnO366D8QxvFQqCp9KDamujzFuBlWKDh9jShooYoB512Vq5clumw/2tDo2ZCZyyapVx60R6xoJLJa5n84TMhWGa9pf96vwq1C8BlJQ9MC6MpKdak+gFMKp/DS/8iIjtA/9wWKNy941lpnM/RendbuCiAWikyg7tWnuug8oytyVdhx4mdqkNCuZ9CGnpX4amrnH7uiK9LNGkgYLUlNckHIl9/hV5fy4RObR9TSDBoZTlCCfqdZyhNELUaUAFYhwWlnyHMV0d8/Dc+LluJdh93VC+GPAdv+inUK3L+K/DnEdmzzS9SPZEzf7WyKgYY4XLEnG04ifmZKUs/y3NZQ2R7/A787UIDYvxemnS3dtN8olp7BnY9+F3ASDqiivofooMk3E7XBsO5hVsdfXHtCwSUJLqIDLFRwhQ3dRxqPOWsbCthCg+Lpdg397v8F2gRT2E7iq6xSojTLoM+TJlTIM+KBxeBZrXKVHQfyJ1L7mo6WSX0sRlUqC2PqTNfRvmNYIpursFS0=
    on:
        tags: true
    skip_existing: true

after_success:
    - coveralls
