<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>Label</key>
		<string>local.githubArchive.plist</string>
		<key>Program</key>
		<string>/Users/jhammond/git/personal/github-archive/backup.sh</string>
		<key>StartCalendarInterval</key>
		<dict>
			<key>Hour</key>
			<integer>1</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
		<key>StandardErrorPath</key>
		<string>/Users/jhammond/git/personal/github-archive/logs/log.err</string>
		<key>StandardOutPath</key>
		<string>/Users/jhammond/git/personal/github-archive/logs/log.out</string>
	</dict>
</plist>
