name: build

on:
  push:
    paths:
      - '.github/workflows/build.yml'
      - '**/*.py'
    branches:
      - '**'
    tags:
      - '!**'
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - '**/*.py'
  workflow_dispatch: ~

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: just install lint
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pythonversion: ['3.10', '3.11', '3.12', '3.13', '3.14']
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.pythonversion }}
      - run: just install coverage
  coverage:
    if: github.ref == 'refs/heads/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: extractions/setup-just@v3
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
      - run: just install coverage
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
