name: build

on: 
  push:
    paths:
      - '.github/workflows/build.yml'
      - '**/*.py'
    branches:
      - "**"
    tags:
      - "!**"
  pull_request:
    paths:
      - '.github/workflows/build.yml'
      - '**/*.py'

jobs:
  sh-checker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Run sh-checker
        uses: luizm/action-sh-checker@master
        env:
          SHFMT_OPTS: -i 4 -d
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: "3.11"
      - name: Install Dependencies
        run: make install
      - name: Check format
        run: make format-check
      - name: Scan for security vulnerabilities
        run: make scan
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        pythonversion: ["3.7", "3.8", "3.9", "3.10", "3.11"]
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.pythonversion }}
      - name: Install Dependencies
        run: make install
      - name: Run tests
        run: make coverage
      - name: Coveralls
        if: github.ref == 'refs/heads/main'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: venv/bin/coveralls --service=github
